<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        legend {
            height: 2000px
        }
    </style>
</head>
<body>
    <h1 th:text="${email} + ' welcome'"></h1>
    <h1>test home page</h1>

<div>
    <fieldset style="height=1000px">
        <div>
            <input type="text" id="groupName" placeholder="groupName">
            <input type="hidden" id="constructor" th:value="${email}">
            <button type="button" id="createGroup-btn">그룹 생성하기</button>
        </div>
        <div>
            <p>그룹 이동하기</p>
            <div th:each="group : ${groups}">
                <form th:action="'/group/' + ${group.groupId}" method="GET">
                    <button type="submit" th:text="${group.groupName}"></button>
                </form>
            </div>
            <div>
                <p>초대 현황</p>
                <div th:each="message : ${messages}">
                    <p th:text="${message.inviterEmail} + ' 이' + ${message.groupName} + ' 에 초대하였습니다.'"></p>
                    <form th:action="'/api/accept/' + ${message.messageId}" method="POST">
                        <button type="submit">수락</button>
                    </form>
                </div>
            </div>
        </div>
    </fieldset>
</div>
    <script src="/js/group.js"></script>
</body>
</html>